{% extends "admin/base_site.html" %}
{% block content %}
<style>
   .reports-table{
      margin: 0px;
      width: 100%;
   }
</style>
<div id="content" class="flex">
    <h1>Alerts</h1>
    <table class="reports-table">
       <thead>
          <th>User</th>
          <th>Action</th>
       </thead>
       <tbody>
          {% for e in users %}
            <tr>
               <td>{{e.first_name}} {{e.last_name}}</td>
               <td><a href="/admin/push-notifications/">Sent notification</a></td>
            </tr>
          {% endfor %}
       </tbody>
    </table>
 </div>
{% endblock %}