{% extends "admin/base_site.html" %}
{% block content %}
<style>
   .reports-table{
      margin: 0px;
      width: 100%;
   }
</style>
<div id="content" class="flex">
    <h1>Reports</h1>
    <table class="reports-table">
       <thead>
          <th>User</th>
          <th>Action</th>
       </thead>
       <tbody>
          {% for e in users %}
          <tr>
             <td>Patient number 1</td>
             <td><a href="/admin/reports/download/?id={{e.user_id}}">Download Report</a></td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
 </div>
{% endblock %}