{% extends "admin/base_site.html" %}
{% block content %}
<style>
   .reports-table{
      margin: 0px;
      width: 100%;
   }
</style>
<div id="content" class="flex">
    <h1>Reports</h1>
    <form action="./" method="post">
      {% csrf_token %}
      <label>
         Search:
      </label>
      <input type="text" name="search" placeholder="type the patient's name..." />
      <input type="submit" value="search" />
   </form>
   {% if sent %}
   <div style="border: 1px solid #4CAF50;; background: #8BC34A; padding: 10px 15px; margin: 10px 0px; color: #fff">
      The report has been successfully sent via iShare!
      <br />
      <p><i>{{sent_msg}}</i></p>
   </div>
   {% endif %}
    <table class="reports-table">
       <thead>
          <th>User</th>
          <th>iShare</th>
          <th>Download</th>
       </thead>
       <tbody>
          {% for e in users %}
          <tr>
             <td>{{e.first_name}} {{e.last_name}}</td>
             <td>
                <form method="POST">
                  {% csrf_token %}
                   <input type="hidden" name="user_id" value="{{e.user_id}}" />
                   <input type="submit" value="send with iShare" />
                </form>
             </td>
             <td><a href="/admin/reports/download/?id={{e.user_id}}">Download Report</a></td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
 </div>
{% endblock %}